.home-weather {
    flex-direction: column;
    display: flex;
    text-align: end;
    margin-right: 40px;
    font-family: 'Poppins';

    &__title {
        margin: 0;
        margin-top: 25px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #222222;
        text-align: center;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--p {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 72px;
            color: #222222;
            margin: 0;
        }
        &--img {
            margin: 0;
        }
    }
}