.home-figure {

    &__img--mobile {
        display: none;
    }

    @media only screen and (max-width: 1024px) {
        margin-right: 9px;
        margin-top: 3px;

        &__img {
            display: none;
        }
        
        &__img--mobile {
            display: flex;
            max-width: 248px;
            max-height: 84px;
        }
    }

    
}