@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.home-day-info {

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 144px;
    line-height: 182.52px;
    font-style: normal;
    color: #222222;




    &__title {
        margin: 0;
        margin-top: 53px;
        text-align: center;
        letter-spacing: -31px;
        
    }

    &__info {
        margin: 0;
        margin-top: 20px;
        font-family: 'Questrial';
        font-weight: 400;
        font-size: 14px;
        line-height: 17.75px;
        font-style: normal;
        text-align: center;
 
    }

    @media only screen and (max-width: 1024px) {
        display: none;
    }
}
